#### 1.Import Dependencies

In [15]:
import os
import pandas as pd 
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

| Variable Type | Preferred Encoding | Why?                                                                 |
|---------------|--------------------|----------------------------------------------------------------------|
| Nominal       | One-Hot Encoding   | No inherent order → avoids implying false ordinal relationships      |
| Ordinal       | Label Encoding     | Preserves order → small integers represent increasing levels         |

In [21]:
df = pd.read_csv("../Week 01/Data/processed/churnModelling_binning_applied.csv")
df.head(4)

,Unnamed: 0.1,Unnamed: 0,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScoreBins
0,0,0,France,Female,42.00,2,0.00,1,1,1,101348.88,1,Fair
1,1,1,Spain,Female,41.00,1,83807.86,1,0,1,112542.58,0,Fair
2,2,2,France,Female,42.00,8,159660.80,3,1,0,113931.57,1,Poor
3,3,3,France,Female,38.91,1,0.00,2,0,0,93826.63,0,Good

- Gender --> Nominal
- Geography --> Nominal
- CreditScoreBins --> Ordinal

#### 2. Encode Nominal Variables

In [22]:
nominal_variables = ["Geography", "Gender"]

geography_dummies = pd.get_dummies(df['Geography'], prefix="Geography")
gender_dummies = pd.get_dummies(df['Gender'], prefix="Gender")
df_encoded = pd.concat([df, gender_dummies, geography_dummies], axis=1)
del df_encoded["Gender"]
del df_encoded["Geography"]
df_encoded

,Unnamed: 0.1,Unnamed: 0,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScoreBins,Gender_Female,Geography_France,Geography_Germany,Geography_Spain
0,0,0,42.00,2,0.00,1,1,1,101348.88,1,Fair,True,True,False,False
1,1,1,41.00,1,83807.86,1,0,1,112542.58,0,Fair,True,False,False,True
2,2,2,42.00,8,159660.80,3,1,0,113931.57,1,Poor,True,True,False,False
3,3,3,38.91,1,0.00,2,0,0,93826.63,0,Good,True,True,False,False
4,4,4,43.00,2,125510.82,1,1,1,79084.10,0,Excellent,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,9995,39.00,5,0.00,2,1,0,96270.64,0,Very Good,True,True,False,False
9996,9996,9996,35.00,10,57369.61,1,1,1,101699.77,0,Poor,True,True,False,False
9997,9997,9997,36.00,7,0.00,1,0,1,42085.58,1,Good,True,True,False,False
9998,9998,9998,42.00,3,75075.31,2,1,0,92888.52,1,Very Good,True,False,True,False
9999,9999,9999,28.00,4,130142.79,1,1,0,38190.78,0,Very Good,True,True,False,False

#### 3.Encode Ordinal Variables

In [24]:
encode_dict_creditscore = {'Poor' : 0,
                           'Fair' : 1,
                           'Good' : 2,
                           'Very Good': 3,
                           'Excellent' : 4}

df_encoded['CreditScoreBins'] = df_encoded['CreditScoreBins'].map(encode_dict_creditscore)
df_encoded.head(10)

,Unnamed: 0.1,Unnamed: 0,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScoreBins,Gender_Female,Geography_France,Geography_Germany,Geography_Spain
0,0,0,42.00,2,0.00,1,1,1,101348.88,1,1,True,True,False,False
1,1,1,41.00,1,83807.86,1,0,1,112542.58,0,1,True,False,False,True
2,2,2,42.00,8,159660.80,3,1,0,113931.57,1,0,True,True,False,False
3,3,3,38.91,1,0.00,2,0,0,93826.63,0,2,True,True,False,False
4,4,4,43.00,2,125510.82,1,1,1,79084.10,0,4,True,False,False,True
5,5,5,44.00,8,113755.78,2,1,0,149756.71,1,1,True,False,False,True
6,6,6,50.00,7,0.00,2,1,1,10062.80,0,4,True,True,False,False
7,7,7,29.00,4,115046.74,4,1,0,119346.88,1,0,True,False,True,False
8,8,8,44.00,4,142051.07,2,0,1,74940.50,0,0,True,True,False,False
9,9,9,27.00,2,134603.88,1,1,1,71725.73,0,2,True,True,False,False

In [25]:
df_encoded.to_csv("../Week 01/Data/processed/churnModelling_feature_encoded.csv")

In [28]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

df=pd.read_csv("../Week 01/Data/processed/churnModelling_binning_applied.csv")

ohe_geography = OneHotEncoder()
ohe_gender = OneHotEncoder()

le_creditbins = LabelEncoder()

ohe_gender.fit(df['Gender'].values.reshape(10000,1))
ohe_geography.fit(df['Geography'].values.reshape(10000,1))

le_creditbins.fit(df['CreditScoreBins'].values.reshape(10000,1))

geography_ohe = ohe_geography.transform(df['Gender'].values.reshape(10000,1)).toarray()

df

c:\Users\kavin\Desktop\ZUU Courses\venv\Lib\site-packages\sklearn\preprocessing\_label.py:93: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

ValueError: Found unknown categories ['Female'] in column 0 during transform